$color-yellow: #ffea80; // used in phase 2
$color-yellow-lighter: #fff0a4;
$color-green: #00d7a7;
$color-green-lighter: #7febd3; // used in phase 2
$color-green-dark: #009246;
$color-pink: #ffc2d7;
$color-pink-lighter: #f4d9e5; // used in phase 2
$color-grey: #dedfe1;
$color-grey-lighter: #ebedf1;
$color-near-white: #f6f6f8; // used in phase 2
$color-blue: #c9dff2;
$color-blue-bright: #0000bf; // used in phase 2
$color-blue-light: #9fc9eb;
$color-turquoise: #a7f1e1;
$color-white: #fff;
$color-almost-black: #4f4f4f;
